

#page_width {
  width: 960px;
  position: relative;
  clear: both;
}


body {
  background-image: url(../images/portfolio-background-image.png)

}


header {
    
    margin-bottom: 20px;
    color: #333;
    background: white;
    position: relative;
  
}

#yourname {
  background: green;
  margin-left: 15%;
  margin-right: 60%;
  position: relative;
  color: white;
  padding: .1%;
  text-align: center;

}

#list {
position: relative;


}

h2 {
  font-family: 'Georgia', Times, Times New Roman, serif;
  padding: 5px;
  padding-left: 15px;
  position: relative;
}

.cat {
  margin-left: 15px;
  position: relative;
}

#aboutme {
  
  margin-left: 15%;
  width: 70%;
  background: white;
  position: relative;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  
}


hr {
    width: 95%;
    color: grey;
    margin-bottom: 20px;
    position: relative;
    
}


p {
  margin: 15px;
  position: relative;
}